<div fxLayout="column" fxFill>
    <header fxFlex="none">
        <mat-toolbar color="primary">

            <mat-toolbar-row>
                <span>Second Line</span>
                <button mat-button [matMenuTriggerFor]="menu">Menu</button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Item 1</button>
                    <button mat-menu-item>Item 2</button>
                </mat-menu>
                <span class="example-spacer"></span>
                <mat-icon class="example-icon" color="accent">verified_user</mat-icon>
            </mat-toolbar-row>

        </mat-toolbar>
    </header>
    <section fxFlex fxLayout="row">
        <nav fxFlex="20">
            <button routerLink="/home">Home</button>
            <button routerLink="/home/home2">Home2</button>
            <button routerLink="/login">login</button>
            <button routerLink="">Here</button>
        </nav>

        <router-outlet></router-outlet>
    </section>
    <footer fxFlex="5vh">footer</footer>
</div>
